:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#app {
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}


.d-page-content {
    width: auto;
    min-width: 0;
    flex: 10000 1 0%;
    max-width: 1200px;
    margin: auto;
}

.d-header {
    color: #00b4ff;
    font-size: 1.8em;
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    display: flex;
    align-items: center;
    word-break: break-word;
    letter-spacing: .7px;
    line-height: 1.1em;
    margin: 2.5em 0 1em;
}

.d-h1 {
    font-size: 2.4em;
    font-weight: 700;
    border-bottom: unset;
}


.sample-wrapper {
    max-width: 150px;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}